.form {
  :global {
    .semi-form-field {
      margin-bottom: 16px;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    .semi-form-field-label-text {
      font-weight: 500;
      color: var(--semi-color-text-0);
      margin-bottom: 8px;
    }
  }
}